.button {
  padding: 16px;
  // background-color: ;
  // color: ;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  .pointer();

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}
