.main-header {
  position: relative;

  @media (max-width: (@tablet-width - 0.02)) {
    background-color: @base-color;
    z-index: 1;
  }

  @media (min-width: @tablet-width) {
    .flex-style(initial, initial, initial, flex-start);
    padding: 0 @tablet-side-indent;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;

    &--index::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      max-width: 1440px;
      height: 100%;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, @transparent 50%, rgba(104, 183, 56, 0.85) 50%),
        linear-gradient(to right, @transparent 50%, rgba(69, 68, 72, 1) 50%);
      background-position: 0, 0;
      background-repeat: no-repeat;
      z-index: -2;
    }
  }
}

.main-header__logo-link {
  padding: 10px @mobile-side-indent 17px @mobile-side-indent;
  display: inline-flex;
  text-decoration: none;
  width: calc(50% + 70px);

  @media (min-width: @tablet-width) {
    padding: 0 60px 0 0;
    width: auto;
    margin-right: auto;
  }
}

.main-header__icon {
  @media (min-width: @tablet-width) {
    margin: 1px 12px 0 0;
    width: 61px;
    height: 51px;
  }

  @media (min-width: @desktop-width) {
    margin: 1px 14px 0 0;
    width: 71px;
    height: 60px;
  }
}

.main-header__text-mobile {
  @media (max-width: (@tablet-width - 0.02)) {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @tablet-width) {
    margin-top: 19px;
    width: 102px;
    height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23px;
    width: 118px;
    height: 23px;
  }
}
