.main-header {
  position: relative;

  &__logo-link {
    padding: 10px @mobile-side-indent 17px @mobile-side-indent;
    display: inline-flex;
    text-decoration: none;
  }

  &__text-mobile {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }
}
