.main-header {
  position: relative;

  &__logo-link {
    padding: 10px @mobile-side-indent 17px @mobile-side-indent;
    display: inline-flex;
    text-decoration: none;
    width: calc(50% + 70px);

    @media (min-width: @tablet-width) {
      padding: 0 60px 2px 0;
      width: auto;
      margin-right: auto;
    }

    @media (min-width: @desktop-width) {
      padding-bottom: 0;
    }
  }

  &__text-mobile {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @tablet-width) {
    .flex-style(initial, initial, initial, initial);
    padding: 0 @tablet-side-indent;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 100vw;
      max-width: 1440px;
      height: 100%;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, @transparent 50%, rgba(104, 183, 56, 0.85) 50%),
        linear-gradient(to right, @transparent 50%, rgba(69, 68, 72, 1) 50%);
      background-position: 0, 0;
      background-repeat: no-repeat;
    }
  }
}
