@base-color: #ffffff;
@secondary-color: #f2f2f2;
@base-text-color: #000000;
@secondary-text-color: #444444;
@transparent: rgba(255, 255, 255, 0);
@text-font: "Lato", "Arial", sans-serif;
@title-font: "Oswald", "Arial", sans-serif;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-side-indent: 20px;
