.main-promo {
  padding: 27px @mobile-side-indent 20px @mobile-side-indent;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 302px, @transparent 195px), url("../../img/background/promo-cat-mobile.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto, 320px 302px;
}
