.main-promo {
  position: relative;
  .flex-style(column, wrap, initial, center);
  padding: 27px @mobile-side-indent 0 @mobile-side-indent;
  text-align: center;
  color: @base-color;

  @media (min-width: @tablet-width) {
    padding: 62px 121px 526px 121px;
    color: @base-text-color;
    align-items: flex-start;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 111px 80px 185px 80px;

    &::before {
      content: "";
      position: absolute;
      top: -114px;
      left: 50%;
      width: 50vw;
      height: calc(100% + 114px);
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../../img/background/promo-cat-desktop.png"),
        linear-gradient(rgba(69, 68, 72, 1), rgba(69, 68, 72, 1));
      background-position: center, bottom left, center;
      background-size: 100%, auto 694px, 100%;
      background-repeat: no-repeat;
      z-index: -1;
    }
  }
}

.main-promo__title {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
  }
}

.main-promo__text {
  .indent-reset();
  text-transform: uppercase;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 52px;
  }
}

.main-promo__image {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 50%;
    width: 709px;
    height: auto;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50%);
  }

  @media (min-width: @desktop-width) {
    left: calc(50% + 114px);
    width: 552px;
    height: auto;
    z-index: 1;
  }
}

.main-promo__link {
  text-decoration: none;
  padding: 11px 26px;

  @media (min-width: @tablet-width) {
    padding: 14px 27px;
    max-width: 50%;
  }
}

.main-promo__add-wrapper {
  position: relative;

  @media (max-width: (@tablet-width - 0.02)) {
    margin-bottom: 29px;

    &::before {
      content: "";
      position: absolute;
      top: -27px;
      left: 50%;
      width: 100vw;
      min-width: 320px;
      height: calc(100% + 191px);
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
        url("../../img/background/promo-cat-mobile.png"),
        linear-gradient(rgba(69, 68, 72, 1), rgba(69, 68, 72, 1));
      background-position: center, bottom center, center;
      background-size: 100%, 320px, 100%;
      background-repeat: no-repeat;
      z-index: -1;
      transform: translateX(-50vw);
    }
  }

  @media (min-width: @desktop-width) {
    max-width: 50%;
    z-index: 2;
  }
}
