.main-promo {
  position: relative;
  .flex-style(column, wrap, initial, center);
  padding: 27px @mobile-side-indent @mobile-side-indent @mobile-side-indent;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 302px, @transparent 195px),
    url("../../img/background/promo-cat-mobile.png"),
    linear-gradient(rgba(69, 68, 72, 1), rgba(69, 68, 72, 1));
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto, 320px, 100% 302px;
  color: @base-color;

  @media (min-width: @tablet-width) {
    padding: 62px 118px 526px 118px;
    background-image: linear-gradient(@transparent, @transparent);
    color: @base-text-color;
    align-items: flex-start;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    padding: 111px 80px 185px 80px;

    &::before {
      content: "";
      position: absolute;
      width: 100vw;
      height: calc(100% + 112px);
      top: -112px;
      left: 50%;
      transform: translateX(-50%);
      background-image: linear-gradient(to right, @transparent 50%, rgba(104, 183, 56, 0.85) 50%),
        url("../../img/background/promo-cat-desktop.png"),
        linear-gradient(to right, @transparent 50%, rgba(69, 68, 72, 1) 50%);
      background-position: left top, 50vw top, left top;
      background-repeat: no-repeat;
      background-size: 100vw 100%, contain, 100vw 100%;
      color: @base-text-color;
    }
  }

  &__title {
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      margin-bottom: 41px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 40px;
    }
  }

  &__text {
    .indent-reset();
    text-transform: uppercase;
    line-height: 14px;
    margin-bottom: 302px;

    @media (min-width: @tablet-width) {
      margin-bottom: 49px;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 52px;
    }
  }

  &__link {
    text-decoration: none;
    padding: 11px 26px;

    @media (min-width: @tablet-width) {
      padding: 14px 27px;
    }
  }

  &__image {
    position: absolute;
    bottom: 63px;
    transform: translateX(-50%);

    @media (min-width: @tablet-width) {
      left: 50%;
      width: 709px;
      height: auto;
      bottom: 0;
      z-index: -1;
    }

    @media (min-width: @desktop-width) {
      left: calc(50% + 114px);
      width: 552px;
      height: auto;
      z-index: 1;
    }
  }

  &__add-wrapper {
    position: relative;

    @media (max-width: (@tablet-width - 0.02)) {
      &::before {
        content: "";
        position: absolute;
        top: -27px;
        left: -@mobile-side-indent;
        width: 100vw;
        height: calc(100% - 255px);
        background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
          linear-gradient(rgba(69, 68, 72, 1), rgba(69, 68, 72, 1));
        background-repeat: no-repeat;
        z-index: -1;
      }
    }

    @media (min-width: @desktop-width) {
      max-width: 50%;
      z-index: 2;
    }
  }
}
